body {
  background-color: #27496D;
}
h1 {
  text-align: center;
  margin: auto;
  width: 400px;
  background-color: #142850;
  color: #DAE1E7;
  box-shadow: 1px 1px 5px #DAE1E7;
  border-radius: 20px;
  padding: 20px;
}
section {
  background-color: #DAE1E7;
  padding: 10px;
  width: 80%;
  margin: 30px auto;
  margin-left: 150px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #DAE1E7, -2px -2px 10px #DAE1E7;
}
nav {
  float: left;
  margin-top: 33px;
  box-shadow: 2px 2px 10px #DAE1E7, -2px -2px 10px #DAE1E7;
  border-radius: 20px;
  background-color: #DAE1E7;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  padding: 30px 40px;
  padding-left: -40px;
  color: #00909E;
}
nav li:hover {
  background-color: #142850;
  border-radius: 20px;
  cursor: pointer;
}
footer {
  text-align: start;
  color: #00909E;
}
footer a {
  color: #DAE1E7;
}
